<!DOCTYPE html>
<html lang="en">

<style>
  /* Hides bullet points from todo list */
  #todoapp ul {
    list-style-type: none;
  }

  #todo-list input.edit {
    display: none; /* Hides input box */
  }
  
  #todo-list .editing label {
    display: none; /* Hides label text when .editing */
  }
  
  #todo-list .editing input.edit {
    display: inline; /* Shows input text box when .editing */
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.4/underscore-umd-min.js"></script>
  <script src="./lib/backbone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
</head>
<body>
  
  <section id="todoapp">
    <header id="header">
      <h1>Todos</h1>
      <input type="text" id="new-todo" placeholder="What needs to be done?">
      <div>
        <a href="#/all">Show All</a>
        <a href="#/pending">Show Pending</a>
        <a href="#/completed">Show Completed</a>
      </div>
    </header>
    <section id="main">
      <ul id="todo-list"></ul>
    </section>
  </section>

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label for=""><%- title %></label>
      <input class="edit" value="<%- title %>" size="30">
      <button class="destroy">Remove</button>
    </div>
  </script>
  
  <script type="text/javascript">
    var app = {}; // create namespace for our app

    /* *** Model *** */
    app.Todo = Backbone.Model.extend({
      defaults: {
        title: '',
        completed: false
      },
      toggle: function(){
        this.save({ completed: !this.get('completed') });
      }
    });
    
    /* *** Collection *** */
    app.TodoList = Backbone.Collection.extend({
      model: app.Todo,
      localStorage: new Store("backbone-todo"),
      completed: function() {
        return this.filter(function( todo ) {
          return todo.get('completed');
        });
      },
      remaining: function() {
        return this.without.apply( this, this.completed() );
      }
    });

    // Instance of the Collection
    app.todoList = new app.TodoList();

    // renders individual todo items list (li)
    app.TodoView = Backbone.View.extend({
      tagName: 'li',
      template: _.template($('#item-template').html()),
      render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        this.input = this.$('.edit');
        return this; // enable chained calls
      },
      initialize: function() {
        this.model.on ('change', this.render, this);
        this.model.on ('destroy', this.remove, this); // remove: Convenience Backbone's function for removing view from the DOM.
      },
      events: {
        'dblclick label': 'edit',
        'keypress .edit': 'updateOnEnter',
        'blur .edit': 'close',
        'click .toggle': 'toggleCompleted',
        'click .destroy': 'destroy'
      },
      edit: function() {
        this.$el.addClass('editing');
        this.input.focus();
      },
      close: function() {
        var value = this.input.val().trim();
        if (value) {
          this.model.save({title: value});
        }
        this.$el.removeClass('editing');
      },
      updateOnEnter: function(e) {
        if(e.which == 13) {
          this.close();
        }
      },
      toggleCompleted: function() {
        this.model.toggle();
      },
      destroy: function() {
        this.model.destroy();
      }
    });

    var object = {},
        callback = function(msg) { console.log("Triggered: + msg"); };
    
    _.extend(object, Backbone.Events);
    object.on("my_event", "my custom event");

    // renders the full list of todo items calling TodoView for each one.
    app.AppView = Backbone.View.extend({
      el: '#todoapp',
      initialize: function() {
        this.input = this.$('#new-todo');
        
        // Instance of the Collection
        app.todoList = new app.TodoList();

        // when new elements are added to the collection render them with addOne
        app.todoList.on('add', this.addOne, this);
        app.todoList.on('reset', this.addAll, this);
        app.todoList.fetch(); // Loads list from local storage
      },
      events: {
        'keypress #new-todo': 'createTodoOnEnter'
      },
      createTodoOnEnter: function(e) {
        if ( e.which !== 13 || !this.input.val().trim() ) { // ENTER KEY = 13
          return;
        }
        app.todoList.create(this.newAttributes());
        this.input.val(''); // clean input box
      },
      addOne: function(todo) {
        var view = new app.TodoView({model: todo});
        $('#todo-list').append(view.render().el);
      },
      addAll: function() {
        this.$('#todo-list').html(''); // clean the todo list
        // filter todo item list
        switch(window.filter) {
          case 'pending':
            _.each(app.todoList.remaining(), this.addOne);
            break;
          case 'completed':
            _.each(app.todoList.completed(), this.addOne);
            break;
          default:
            app.todoList.each(this.addOne, this);
            break;
        }
      },
      newAttributes: function() {
        return {
          title: this.input.val().trim(),
          completed: false
        }
      }
    });

    
    //--------------
    // Routers
    //--------------
    /* Use following URL => file:///Users/eduardo.mendez/todos_backbone/index.html#anything/that/you/want */
    app.Router = Backbone.Router.extend({
      routes: {
        '*filter' : 'setFilter'
      },
      setFilter: function(params) {
        console.log('app.router.params = ' + params);
        window.filter = params.trim() || '';
        app.todoList.trigger('reset');
      }
    });     

    //--------------
    // Initializers
    //--------------   

    app.router = new app.Router();
    Backbone.history.start();    
    app.appView = new app.AppView(); 

  </script>
</body>
</html>